<!DOCTYPE html>
<html lang="en">

<!-- load django static files -->
{% load staticfiles %}

<head>
    <link rel="shortcut icon" href="{% static "images/favicon/favicon.ico" %}">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- load css from static -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <!-- call for jQuery from Google CDN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
    <!-- set up jQuery UI using Google CDN -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- setup ajax CSRF -->
    <script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    };
    function setupCSRF() {
        $.ajaxSetup({
            beforeSubmit: function(xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            },
            beforeSend: function(xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
    };
    setupCSRF();
    </script>

    {% block css %}{% endblock %}
    {% block js %}{% endblock %}

    {% block header %}{% endblock %}
</head>

<body>

    <!-- main frame -->
    {% block main_frame %}{% endblock %}

    <!-- bottom info bar -->
    <div id="info-bar">
        
    </div>

    <!-- geogateway site navigation bar -->
    <div class="navigation">
        <img id="logo-nav" src="{% static "images/logos/logo.png" %}" alt="GeoGateway Logo" onclick="window.location='/'">
        <span class="default-font lightBLUE"> Tools for Analysis, Modeling, and Response of Geodetic Imaging Products</span>
        {% block navbar %}{% endblock %}
    </div>
    <div class="navigation-shadow"></div>

    <!-- geogateway site profile box -->
    {% block profile %}{% endblock %}

    <!-- geogateway site tool box -->
    {% block tools %}{% endblock %}

    <!-- geogateway site extra tool box -->
    {% block extra_tools %}{% endblock %}

    <!-- anything else added to the body -->
    {% block body %}{% endblock %}
</body>
</html>